

*{
    font-family:Manrope ;
    margin:0;
}
/*body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    width: 1170px;
    display: table-cell;
    vertical-align: middle;
}*/
body{
    width: 1170px;
    margin: 120px;
    align-items: center;
}

.l{
    display: flex;
    gap: 20px;
    list-style: none;
}
span{
    color: #FF4240;
}
.t{
    color: black;
    font-size: 36px;
    font-weight: 800;
}
#banner{
    height: 650px;
    position: relative;
}
.black{
    background-color: black;
    color: white;
    width: 565px;
    height: 165px;
    padding: 32px;
    border-radius: 16px;
    position: absolute;
    bottom: 200px;
    right: 100px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.hero{
    font-size: 24px;
    font-weight: 800;
    text-align: justify;
    padding-left: 0;
    margin-left: 0;
    padding-right: 110px;
}
.bp{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.c{
    text-align: center;
    color: black;
    font-family: Manrope;
    font-size: 36px;
    font-weight: 800;
}
.cl{
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
}
.txt{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed lightgray;
    border-bottom: 1px dashed lightgrey;
}
.btn{
    color: white;
}
.pics{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pc{
    border: 1px solid lightgrey;
    border-radius: 16px;
}
.others{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.pi{
    padding: 15px;
}
.star,.eye,.love{
    gap: 5px;
}
.title{
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}
.pcp{
    color: rgba(19, 19, 24, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.prc{
    color: #FF4240;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}
.delivery{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    gap: 5px;
}
.sob{
    border: 1px solid lightgrey;
    border-radius: 16px;
    gap: 40px;
    height: 500px;
}
.para{
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    height: 80px;
    width: 615px;
    padding: 0;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 16px;
    width: 475px;
    height: 740px;
}
.phn{
    background-color: #bced6d1a;
    width: 375px;
    height: 210px;
    padding: 15px;
    border-radius: 16px;
}
.mail{
    background-color: #fddd5f1a;
    width: 375px;
    height: 210px;
    padding: 15px;
    border-radius: 16px;
}
.loc{
    background-color: #629cf31a;
    width: 375px;
    height: 210px;
    padding: 15px;
    border-radius: 16px;
}
#form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 15px;
}
.nam , .email, .sub, .num, .msg{
    display: flex;
    flex-direction: column;
}
#nam , #mail, #sub, #num{
    height: 65px;
    width: 320px;
    background-color: #13131808;
    border-radius: 12px;
    padding-left: 20px;
}
#msg{
    width: 670px;
    height: 305px;
    background-color: #13131808;
    border-radius: 12px;
    padding-bottom: 250px;
    padding-left: 20px;
}
label{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.ek{
    color: lightgray;
    font-size: 16px;
    font-weight: 400;
}
.do{
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.all{
    width: 1170px;
    justify-content: center;
    align-items: center;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #13131808;
    width: 1170px;
    height: 150px;
}
#social{
    color: black;
    font-size: 24px;
    font-weight: 800;
}
.ft{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
#fh{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
footer{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    width: 1440px;
    height: 455px;
}
.dhur{
    margin-left: 0;
}
.jhamela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.getintouch{
    width: 1170px;
}